In [1]:
import pandas as pd

In [2]:
# Load GTF file - replace with your actual file path
gtf_df = pd.read_csv('genes.gtf', sep='\t', comment='#', header=None,
                     names=['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute'])
# display(gtf_df.head(20))
# features = set(gtf_df['feature'])
# display(features)
gtf_df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,chr1,unknown,exon,3214482,3216968,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
1,chr1,unknown,stop_codon,3216022,3216024,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
2,chr1,unknown,CDS,3216025,3216968,.,-,2,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
3,chr1,unknown,CDS,3421702,3421901,.,-,1,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
4,chr1,unknown,exon,3421702,3421901,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
...,...,...,...,...,...,...,...,...,...
595681,chrY,unknown,CDS,90793296,90793417,.,+,0,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."
595682,chrY,unknown,exon,90793296,90793417,.,+,.,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."
595683,chrY,unknown,CDS,90816349,90816444,.,+,1,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."
595684,chrY,unknown,exon,90816349,90816465,.,+,.,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."
595685,chrY,unknown,stop_codon,90816445,90816447,.,+,.,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."

In [7]:
gtf_df.iloc[26:37]

,seqname,source,feature,start,end,score,strand,frame,attribute
26,chr1,unknown,start_codon,4409185,4409187,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_001195662""; g..."
27,chr1,unknown,exon,4490928,4492668,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
28,chr1,unknown,stop_codon,4491716,4491718,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
29,chr1,unknown,CDS,4491719,4492668,.,-,2,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
30,chr1,unknown,CDS,4493100,4493406,.,-,0,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
31,chr1,unknown,exon,4493100,4493466,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
32,chr1,unknown,start_codon,4493404,4493406,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
33,chr1,unknown,exon,4493772,4493863,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
34,chr1,unknown,exon,4495136,4495942,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
35,chr1,unknown,exon,4496291,4496413,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge..."
36,chr1,unknown,exon,4773200,4774516,.,-,.,"gene_id ""Mrpl15""; transcript_id ""NR_033530""; g..."

In [121]:
# Filter for transcripts to get 'feature' == 'exons'
tss_df = gtf_df[gtf_df['feature'] == 'exon']

tss_df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,chr1,unknown,exon,3214482,3216968,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
4,chr1,unknown,exon,3421702,3421901,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
6,chr1,unknown,exon,3670552,3671498,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ..."
8,chr1,unknown,exon,4290846,4293012,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_001195662""; g..."
11,chr1,unknown,exon,4343507,4350091,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_011283""; gene..."
...,...,...,...,...,...,...,...,...,...
595672,chrY,unknown,exon,83927454,83927911,.,-,.,"gene_id ""LOC100040911""; transcript_id ""NM_0011..."
595674,chrY,unknown,exon,85528525,85529519,.,-,.,"gene_id ""LOC100040911""; transcript_id ""NM_0011..."
595678,chrY,unknown,exon,90785442,90785979,.,+,.,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."
595682,chrY,unknown,exon,90793296,90793417,.,+,.,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."
595684,chrY,unknown,exon,90816349,90816465,.,+,.,"gene_id ""Erdr1""; transcript_id ""NM_133362""; ge..."

In [122]:
# Function to parse the attributes column and return a dictionary
def parse_attributes(attributes_str):
    # Split the string by semicolon and space, then by space within each pair
    # Assuming that the GTF format is consistent with the gene_name being quoted
    return {attr.strip().split(' ')[0]: attr.strip().split(' ')[1].replace('"', '')
            for attr in attributes_str.strip().split(';') if attr}

In [123]:
# Define a function to extract gene name and TSS based on the strand
def extract_tss_info(row):
    tss_start = row['start'] if row['strand'] == '+' else row['end']
    return pd.Series([tss_start], index=['tss_start'])

#add a column consisting of gene names
def extract_gene_name(row):
    attributes = parse_attributes(row['attribute'])
    gene_name = attributes.get('gene_name', '')
    return pd.Series([gene_name], index=['gene_name'])

#add gene name column
tss_df[['gene_name']] = tss_df.apply(extract_gene_name, axis=1)

#get all unique gene names
genes = pd.unique(tss_df['gene_name'])
print(len(genes))

23337

/var/folders/z7/2__sng712j3bvbdc64_2jnpr0000gn/T/ipykernel_80685/1137306480.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tss_df[['gene_name']] = tss_df.apply(extract_gene_name, axis=1)

In [111]:
#if the strand is -, keep the rightmost exon and if the strand is +, keep the leftmost exon
#drop everything else
def remove_exons(genes, tss_df):
    for gene in genes:
        sub_df = tss_df.loc[tss_df['gene_name']==gene]
        dir = sub_df['strand'].iloc[0]
        for i,row in sub_df.iterrows():
            if i == sub_df.index[0] and dir == '+':
                continue
            if i == sub_df.index[-1] and dir == '-':
                continue
            tss_df = tss_df.drop(i)
    return tss_df

#remove exons that are not relevant to tss
tss_df = remove_exons(genes,tss_df)

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_name
6,chr1,unknown,exon,3670552,3671498,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ...",Xkr4
25,chr1,unknown,exon,4409170,4409241,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_001195662""; g...",Rp1
35,chr1,unknown,exon,4496291,4496413,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge...",Sox17
61,chr1,unknown,exon,4785573,4785726,.,-,.,"gene_id ""Mrpl15""; transcript_id ""NM_025300""; g...",Mrpl15
64,chr1,unknown,exon,4807893,4807982,.,+,.,"gene_id ""Lypla1""; transcript_id ""NM_008866""; g...",Lypla1
...,...,...,...,...,...,...,...,...,...,...
10176,chr1,unknown,exon,63964727,63964798,.,+,.,"gene_id ""Gm13749""; transcript_id ""NR_027824""; ...",Gm13749
10180,chr1,unknown,exon,63984465,63984483,.,-,.,"gene_id ""Mir1958""; transcript_id ""NR_035484""; ...",Mir1958
10189,chr1,unknown,exon,64120900,64121389,.,-,.,"gene_id ""Klf7""; transcript_id ""NM_033563""; gen...",Klf7
10191,chr1,unknown,exon,64532804,64533020,.,+,.,"gene_id ""Creb1""; transcript_id ""NM_133828""; ge...",Creb1
10242,chr1,unknown,exon,64606480,64608137,.,-,.,"gene_id ""Mettl21a""; transcript_id ""NM_025964"";...",Mettl21a

In [113]:
#get tss_start position based on strand direction
tss_df['tss_start'] = tss_df.apply(extract_tss_info, axis = 1)
tss_df

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_name,tss_start
6,chr1,unknown,exon,3670552,3671498,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ...",Xkr4,3671498
25,chr1,unknown,exon,4409170,4409241,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_001195662""; g...",Rp1,4409241
35,chr1,unknown,exon,4496291,4496413,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge...",Sox17,4496413
61,chr1,unknown,exon,4785573,4785726,.,-,.,"gene_id ""Mrpl15""; transcript_id ""NM_025300""; g...",Mrpl15,4785726
64,chr1,unknown,exon,4807893,4807982,.,+,.,"gene_id ""Lypla1""; transcript_id ""NM_008866""; g...",Lypla1,4807893
...,...,...,...,...,...,...,...,...,...,...,...
10176,chr1,unknown,exon,63964727,63964798,.,+,.,"gene_id ""Gm13749""; transcript_id ""NR_027824""; ...",Gm13749,63964727
10180,chr1,unknown,exon,63984465,63984483,.,-,.,"gene_id ""Mir1958""; transcript_id ""NR_035484""; ...",Mir1958,63984483
10189,chr1,unknown,exon,64120900,64121389,.,-,.,"gene_id ""Klf7""; transcript_id ""NM_033563""; gen...",Klf7,64121389
10191,chr1,unknown,exon,64532804,64533020,.,+,.,"gene_id ""Creb1""; transcript_id ""NM_133828""; ge...",Creb1,64532804
10242,chr1,unknown,exon,64606480,64608137,.,-,.,"gene_id ""Mettl21a""; transcript_id ""NM_025964"";...",Mettl21a,64608137

In [114]:
# Calculate TSS regions (2000 bp upstream and downstream)
tss_df['tss_start'] = tss_df['tss_start'].astype(int)
tss_df['tss_end'] = tss_df['tss_start']
tss_df.loc[tss_df['strand'] == '+', 'tss_start'] = tss_df['tss_start'] - 2000
tss_df.loc[tss_df['strand'] == '-', 'tss_end'] = tss_df['tss_end'] + 2000

tss_df

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_name,tss_start,tss_end
6,chr1,unknown,exon,3670552,3671498,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ...",Xkr4,3671498,3673498
25,chr1,unknown,exon,4409170,4409241,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_001195662""; g...",Rp1,4409241,4411241
35,chr1,unknown,exon,4496291,4496413,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge...",Sox17,4496413,4498413
61,chr1,unknown,exon,4785573,4785726,.,-,.,"gene_id ""Mrpl15""; transcript_id ""NM_025300""; g...",Mrpl15,4785726,4787726
64,chr1,unknown,exon,4807893,4807982,.,+,.,"gene_id ""Lypla1""; transcript_id ""NM_008866""; g...",Lypla1,4805893,4807893
...,...,...,...,...,...,...,...,...,...,...,...,...
10176,chr1,unknown,exon,63964727,63964798,.,+,.,"gene_id ""Gm13749""; transcript_id ""NR_027824""; ...",Gm13749,63962727,63964727
10180,chr1,unknown,exon,63984465,63984483,.,-,.,"gene_id ""Mir1958""; transcript_id ""NR_035484""; ...",Mir1958,63984483,63986483
10189,chr1,unknown,exon,64120900,64121389,.,-,.,"gene_id ""Klf7""; transcript_id ""NM_033563""; gen...",Klf7,64121389,64123389
10191,chr1,unknown,exon,64532804,64533020,.,+,.,"gene_id ""Creb1""; transcript_id ""NM_133828""; ge...",Creb1,64530804,64532804
10242,chr1,unknown,exon,64606480,64608137,.,-,.,"gene_id ""Mettl21a""; transcript_id ""NM_025964"";...",Mettl21a,64608137,64610137

In [115]:
# Ensure the start is always less than the end
tss_df['start'] = tss_df[['tss_start', 'tss_end']].min(axis=1)
tss_df['end'] = tss_df[['tss_start', 'tss_end']].max(axis=1)

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_name,tss_start,tss_end
6,chr1,unknown,exon,3671498,3673498,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ...",Xkr4,3671498,3673498
25,chr1,unknown,exon,4409241,4411241,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_001195662""; g...",Rp1,4409241,4411241
35,chr1,unknown,exon,4496413,4498413,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge...",Sox17,4496413,4498413
61,chr1,unknown,exon,4785726,4787726,.,-,.,"gene_id ""Mrpl15""; transcript_id ""NM_025300""; g...",Mrpl15,4785726,4787726
64,chr1,unknown,exon,4805893,4807893,.,+,.,"gene_id ""Lypla1""; transcript_id ""NM_008866""; g...",Lypla1,4805893,4807893
...,...,...,...,...,...,...,...,...,...,...,...,...
10176,chr1,unknown,exon,63962727,63964727,.,+,.,"gene_id ""Gm13749""; transcript_id ""NR_027824""; ...",Gm13749,63962727,63964727
10180,chr1,unknown,exon,63984483,63986483,.,-,.,"gene_id ""Mir1958""; transcript_id ""NR_035484""; ...",Mir1958,63984483,63986483
10189,chr1,unknown,exon,64121389,64123389,.,-,.,"gene_id ""Klf7""; transcript_id ""NM_033563""; gen...",Klf7,64121389,64123389
10191,chr1,unknown,exon,64530804,64532804,.,+,.,"gene_id ""Creb1""; transcript_id ""NM_133828""; ge...",Creb1,64530804,64532804
10242,chr1,unknown,exon,64608137,64610137,.,-,.,"gene_id ""Mettl21a""; transcript_id ""NM_025964"";...",Mettl21a,64608137,64610137

In [117]:
# Remove potential negative starts
tss_df['start'] = tss_df['start'].clip(lower=0)

tss_df

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_name,tss_start,tss_end
6,chr1,unknown,exon,3671498,3673498,.,-,.,"gene_id ""Xkr4""; transcript_id ""NM_001011874""; ...",Xkr4,3671498,3673498
25,chr1,unknown,exon,4409241,4411241,.,-,.,"gene_id ""Rp1""; transcript_id ""NM_001195662""; g...",Rp1,4409241,4411241
35,chr1,unknown,exon,4496413,4498413,.,-,.,"gene_id ""Sox17""; transcript_id ""NM_011441""; ge...",Sox17,4496413,4498413
61,chr1,unknown,exon,4785726,4787726,.,-,.,"gene_id ""Mrpl15""; transcript_id ""NM_025300""; g...",Mrpl15,4785726,4787726
64,chr1,unknown,exon,4805893,4807893,.,+,.,"gene_id ""Lypla1""; transcript_id ""NM_008866""; g...",Lypla1,4805893,4807893
...,...,...,...,...,...,...,...,...,...,...,...,...
10176,chr1,unknown,exon,63962727,63964727,.,+,.,"gene_id ""Gm13749""; transcript_id ""NR_027824""; ...",Gm13749,63962727,63964727
10180,chr1,unknown,exon,63984483,63986483,.,-,.,"gene_id ""Mir1958""; transcript_id ""NR_035484""; ...",Mir1958,63984483,63986483
10189,chr1,unknown,exon,64121389,64123389,.,-,.,"gene_id ""Klf7""; transcript_id ""NM_033563""; gen...",Klf7,64121389,64123389
10191,chr1,unknown,exon,64530804,64532804,.,+,.,"gene_id ""Creb1""; transcript_id ""NM_133828""; ge...",Creb1,64530804,64532804
10242,chr1,unknown,exon,64608137,64610137,.,-,.,"gene_id ""Mettl21a""; transcript_id ""NM_025964"";...",Mettl21a,64608137,64610137

In [ ]:

# Create BED file format
tss_bed = tss_df[['seqname', 'start', 'end', 'gene_name', 'score', 'strand']]

# Write BED file - replace with your actual file path
tss_bed.to_csv('tss_regions.bed', sep='\t', header=False, index=False)